<div class="container">
  <h3>User Admin Page</h3>

  <ul class="list-group">
    <li class="list-group-item">
      {{#link-to "users.new"}}Add new User{{/link-to}}
    </li>
    {{#each model.users as |userItem|}}
      <li class="list-group-item">
        <p>userId: {{userItem.id}}</p>
        <p>email: {{userItem.email}}</p>
        <p>name: {{userItem.name}}</p>
        <p>Calories: {{userItem.caloriesPerUser}}</p>
        {{#if userItem.active}}
          <p>Status: Active</p>
        {{else}}
          <p>Status: Deleted</p>
        {{/if}}
        {{#link-to "users.edit" userItem.id}}
          <button class="btn btn-primary">Edit</button>
        {{/link-to}}
        <button class="btn btn-danger" {{action "deleteUser" userItem.id}}>Delete</button>
      </li>
    {{/each}}
  </ul>
</div>

<div class="container mt-3">
  <nav aria-label="User list page navigation">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        {{#link-to 'users.list' (query-params p=previousPage) class="page-link"}}
          Previous Page
        {{/link-to}}
      </li>
      <li class="page-item">
        {{#link-to 'users.list' (query-params p=nextPage) class="page-link"}}
          Next Page
        {{/link-to}}
      </li>
    </ul>
  </nav>
</div>